@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.body{
	display:flex;
	width: auto;
	height: 100%;
}

.header {
	/* display: flex; */
	height: inherits;
	width: 1200px;
	align-items: center;
    /* justify-content:; */
	background-repeat: no-repeat;
	/* background-position: center; */
    background-size: cover;
	background-image: url('/portfolio.github.io/images/thumbs/04.jpg');
	padding: 15px;
	position: sticky;
	text-align: center;
}

.header h1{
	padding: 5px;
}
.header h1 strong{
	padding: 5px;
}

.profile-badge {
    margin-left: 29px;
}

.badge-base__link LI-simple-link{
	align-self: center;
}

.headerTitle {
	display: flex;
    justify-content: space-between;
	text-align: center;
	padding: 5px;
}

.main{}

.one {
	display: flex;
	padding: 20px;
	flex-direction: column;
	justify-content: space-around;
	background-color: rgb(222, 222, 222);
	height: 700px;
	border: 20px;
	color: black;
}

.one h1  {
	margin: 5px;
	/* padding: 5px; */
	justify-items: center;
	font: 2em sans-serif;
	text-align: center;

}

h1 strong {
	font-weight: bold;
	font: 2em sans-serif;
	text-align: center;

}
.one h2  {
	margin-bottom: 5px;
	padding-top: 5px;
	font: 1.75em sans-serif;
	text-align: center;

}

.one h3  {
	margin: 5px;
	padding-top: 5px;
	font: 1.5em sans-serif;
	text-align: center;
}

.one h4  {
	margin: 5px;
	padding-top: 5px;
	font: 1.25em sans-serif;
	text-align: center;

}

.one h5  {
	margin: 5px;
	padding-top: 5px;
	font: 1.1em sans-serif;
	text-align: center;

}
.one h6  {
	margin: 5px;
	padding: 5px 0px 5px;
	font: 1em sans-serif;
	text-align: center;

}



.two {
    display: grid ;
    margin: 5px;
	padding: 20px;
	flex-direction: row;
	/* justify-content: space-around; */

}

.two h2 {
	padding: 20px 0px 10px;
	font-size: 40px;
	justify-content: center;
	align-items: center;
	text-align: center;


}






/* Footer */

	.footerDiv {
		display: flex;
		flex-direction: column;
	}

	#footer .icons {
		margin: 1em 0 0 0;
	}

	#footer .icons a {
		color: rgba(255, 255, 255, 0.4);
	}

